<h1>MarkComSystems</h1>

<p>
<%= @user_new.name %> , Thank you For your request. We'll get back to you soon. 
Your Query "<%= @user_new.message%>"
</p>
<p>
	Your Details :
	Name  			: <%=@user_new.name%>
	Phone Number    : <%=@user_new.phone%>
	Email 			: <%=@user_new.email%>
</p>
